playwright
aiofiles
sqlalchemy
asyncmy
aiosqlite
asyncpg
typer
typing_extensions
openpyxl
jieba
matplotlib
wordcloud
greenlet
httpx
numpy
opencv-python
pydantic
tenacity
aiomysql
redis
motor
pyhumps
PyExecJS
pandas
parsel
Pillow
requests
